*{
	margin:0px;
	color:#606060;
	font-family:tahoma;
}
.clearfix:after{
	content:"";
	display:table;
	clear:both;
}
.container{
    width: 780px;
    margin: 0 auto;
}
    .header img{
        height: 120px;
        width: 100%;
    }
    .isi{
        background-color: #FFFFFF;
    }

	/*------------------------FOOTER START--------------------------*/
    .footer {
		background-image: url("../images/footer.gif");
		background-repeat: repeat-x;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#ffffff;
		font-size: 12px;
		text-align:center;
		padding-bottom:12px;
		padding-top:20px;
	}
	.footer a {	color:#63658a; text-decoration:none;}
	.footer a:hover { color:#ffffff; text-decoration:none; }

	/*------------------------FOOTER END--------------------------*/
